@use "../variables/colors" as *;
@use "../variables/spacing" as *;
@use "../variables/font" as *;
@use "../variables/text" as *;

.form {
  background-color: $background-secondary;
  border-radius: 1rem;

  box-shadow: 0.125rem 0.125rem 1rem rgba(200, 200, 200, 0.3),
    -0.125rem -0.125rem 1rem rgba(200, 200, 200, 0.3);

  &__container {
    display: flex;
    flex-direction: column;

    padding: $space-lg;
    gap: $space-xl;

    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: $text-lg;
  }

  &__fields {
    display: flex;
    flex-direction: column;

    gap: $space-lg;
    width: 100%;
  }
}
