.article {
  grid-area: article;
}

.article__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  width: 100%;
  max-width: 768px;

  margin: 0 auto;

  padding-top: 3rem;
}

.article__section {
  display: flex;
  flex-direction: column;

  gap: var(--space-5);
  padding: var(--space-2) 0 var(--space-5) 0;
}

.article__title {
  font-size: var(--text-3);
  font-weight: var(--font-medium);

  margin: var(--space-5) 0;
}

.article__section__title {
  font-size: var(--text-2);
  font-weight: var(--font-medium);

  margin-top: var(--space-2);
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .article__container {
    padding: 0 var(--space-4);
  }
}