.breadcrumb-navigation {
  position: sticky;
  top: calc(64px + 1px);
  
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-color);

  z-index: 10;
}

.breadcrumb-navigation__container {
  display: flex;
  
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;

  padding: var(--space-sm);
  gap: var(--space-lg);
}