.icon {
  display: inline-block;

  mask-position: center;
  mask-repeat: no-repeat;

  background-color: currentColor;
}

.icon_size_base {
  width: 1rem;
  height: 1rem;
}

.icon_variant_theme-os-default {
  mask-image: url("/assets/theme-os-default.svg");
}

.icon_variant_search {
  mask-image: url("/assets/search.svg");
}

.icon_variant_cancel {
  mask-image: url("/assets/cancel.svg");
}

.icon_variant_language {
  mask-image: url("/assets/language.svg");
}

.icon_variant_filter {
  mask-image: url("/assets/filter.svg");
}