@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap");
@import url("./components/banner.css");
@import url("./components/header.css");
@import url("./components/button.css");
@import url("./components/icon.css");
@import url("./components/input.css");
@import url("./components/breadcrumb-navigation.css");
@import url("./components/breadcrumb.css");
@import url("./components/sidebar.css");
@import url("./components/article.css");
@import url("./components/toc.css");

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --background-primary: #1b1b1b;
  --background-secondary: #343434;

  --border-color: #858585;
  --accent-color: #ff2a5130;

  --text-primary: white;
  --text-secondary: #cdcdcd;
  --text-link: #8cb4ff;

  --code-background: var(--background-secondary);

  --font-normal: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --font-regular: 400;
  --font-medium: 500;

  --text-1: 1rem;
  --text-2: 2rem;
  --text-3: 2.375rem;

  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 1rem;
  --space-5: 2rem;
}

html,
body {
  height: 100%;

  font-size: 16px;
  font-weight: var(--font-regular);
  font-family: var(--font-normal);

  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  color: var(--text-link);
}

a:hover {
  text-decoration: none;
}

p {
  line-height: var(--space-5);
}

code {
  font-family: var(--font-mono);
  background-color: var(--code-background);
  border-radius: var(--space-2);
  padding: var(--space-1) var(--space-2);
}

dt {
  line-height: 1;
  margin: 0 0 var(--space-3) 0;
}

dd {
  margin: 0 0 var(--space-5) var(--space-4);
}

.container {
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.underline {
  display: inline-block;
  background-color: var(--text-link);

  width: 1rem;
  height: 0.125rem;
}

.main {
  display: grid;

  grid-template-areas: "sidebar article toc";
  grid-template-columns: 1fr 2fr 15rem;
}
